#devel {
	color: black;
	background: white;
	font-size: 12px;
	line-height: 1em;
}

#devel-title {
	padding: 1em;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}

#devel-content {
	
}

#devel .dump {
	
}

#devel .dump > div {
	border-bottom: 1px solid #E9E9E9;
}

#devel .dump-title {
	padding: 0.75em 1em;
	background: #F8F8F8;
	font-weight: bold;
}

#devel .dump-content {
	margin: 0;
	padding: 0;
}

.krumo-version {
	display: none !important;
}

#devel .krumo-root {
	border: none;
	padding: 0;
	margin: 0;
}

#devel .krumo-footnote {
	display: none;
}

#devel-queries table {
	border-spacing: 0px;
	border-collapse: collapse;
	text-align: left;
}

#devel-queries tr.odd {
	background: #F8F8F8;
}

#devel-queries th,
#devel-queries td {
	padding: 1em 0.5em;
	border-bottom: 1px solid #E9E9E9;
}

#devel-queries tbody {
	color: #444;
}

#devel .sql {
	font-family: 'Andale Mono', monospace;
}