html, body {
	min-height: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}

a[disabled] {
    color: inherit;
    text-decoration: none;
}

.alert {
	margin-left: auto;
	margin-right: auto;
}

/* Navbar */

.navbar-static-top {
	margin-bottom: 20px;
}

.navbar .brand img {
	margin: -1em 0;
	padding: 0;
	border: 0;
	max-height: 2em;
}

/* Forms */

.form-heading {
	margin-bottom: 0.5em;
}

.form-inline .control-group {
	display: inline-block;
	margin: 0 5px 5px 0;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea,
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error .help-block {
	color: inherit;
}

/* Hive overflowing table content */

.table-ellipsis {
	table-layout: fixed;
}
.table-ellipsis td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

/* Fading carousel (instead of sliding) */

.carousel.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel.carousel-fade .carousel-inner .active.left,
.carousel.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel.carousel-fade .carousel-inner .next.left,
.carousel.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel.carousel-fade .carousel-control {
  z-index: 2;
}

/* Avatar */

.avatar {
	clear: both;
	overflow: hidden;
}
.avatar > div.avatar-caption {
	float: left;
	max-width: 60%;
}
.avatar > div.avatar-image {
	float: left;
	margin-right: 10px;
}
