@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here&subset=latin,latin-ext);

body {
}

.item-summary img {
	float: left;
	max-height: 50px;
	max-width: 50px;
	margin-right: 10px;
}

.item-description img {
	float: left;
	max-height: 200px;
	max-width: 150px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#cart .item-amount p {
	margin: 0.5em 0;
	font-weight: bold;
}

#lists {
	display: block;
	position: relative;

	list-style: none;
	height: 400px;
}

#lists li {
	display: block;
	position: absolute;
	height: 50%;
}

#lists li#list-1 {
	top: 5%;
	left: 10%;
}

#lists li#list-2 {
	top: 35%;
	left: 30%;
}

#lists li#list-3 {
	top: 5%;
	left: 50%;
}

#lists li#list-4 {
	top: 35%;
	left: 70%;
}

.polaroid {
	position: relative;
}

.polaroid a {
	display: block;
	max-width: 250px;
	margin: 0 1em 1em 0;
	padding: 1em;

	background: white;
	color: black;
	text-decoration: none;

	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);

	-webkit-transition: -webkit-transform .15s linear;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);

	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

.polaroid a:hover {
	-webkit-transform: scale(1.1) !important;
	-moz-transform: scale(1.1) !important;
	position: relative !important;
	z-index: 5 !important;
}

.polaroid a img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.polaroid a span {
	display: block;
	text-align: center;
	margin: 0.66em 0 0;
	font-family: 'Just Me Again Down Here', cursive;
	font-style: italic;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	font-size: 1.5em;
}

/* Rotate all even images 2 degrees */
#lists li:nth-child(even) a {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}

/* Don't rotate every third image, but offset its position */
#lists li:nth-child(3n) a {
	-webkit-transform: none;
	-moz-transform: none;
	position: relative;
	top: -5px;
}

/* Rotate every fifth image by 5 degrees and offset it */
#lists li:nth-child(5n) a {
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	position: relative;
	right: 5px;
}

/* Keep default rotate for every eighth, but offset it */
#lists li:nth-child(8n) a {
	position: relative;
	top: 8px;
	right: 5px;
}

/* Keep default rotate for every eleventh, but offset it */
#lists li:nth-child(11n) a {
	position: relative;
	top: 3px;
	left: -5px;
}