/************* GENERAL CSS ************/

body {
	font : normal 13px "Trebuchet MS", sans-serif;
	color: #7b7b7b;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 0.5em;
	font-family: "Trebuchet MS", sans-serif;
	color: #4ba4c2;
}

h2, h3, h4, h5, h6 {
	font-weight: normal;
}

p {
	margin: 0.5em 0;
}

a {
	text-decoration: none;
	color: #FFB400;
}

a:hover, a:active {
	text-decoration: underline;
}

a:visited {
	color: #E4A000;
}

dl dt {
	font-weight: bold;
}

/************* LAYOUT CSS ************/

body {
	background: #1e1e1e;
}

#wrapper {
	background: #fff;
}

.main-box {
	width : 768px;
	margin: 0 auto;
}

/************* HEADER CSS ************/

#header {
	margin: 0px auto;
	background: #565656;
	border-bottom: 0.5em solid #1e1e1e;
	overflow: hidden;
}

#name a {
	display: block;
	text-decoration: none;
	color: #4ba4c2;
	padding: 1em 0 1em 2em;
	height: 1em;
}

#menu {
	list-style: none;
	text-align: center;
	padding: 0;
	clear: both;
}

#menu li {
	display: block;
	float: left;
	background : #1e1e1e;
	margin: 0;
	padding: 0;
}

#menu li:first-child {
	padding-left: 1em;
}

#menu li + li {
	padding-left: 1px;
}

#menu li:last-child {
	padding-right: 1em;
}

#menu li a {
	line-height: 1em;
	vertical-align: middle;
	padding: 0.75em 1em 0.5em;
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

#menu li a:hover{
	background-color:#4ba4c2;
}

#menu li.selected a {
	background-color:#4ba4c2;
	padding-top: 0.85em;
	margin-top: -0.1em;

	padding-bottom: 0.6em;
	margin-bottom: -0.1em;
}

/************* CONTENT ************/

#messages,
#content {
	width: 768px;
	float: left;
}

.two_columns #messages,
.two_columns #content {
	width: 576px;
}
.two_columns #column {
	width: 192px;
	float: right;
}

#content p {
	text-align: justify;
}

/************* COLUMN ************/

#content {
	padding: 1em 0;
}

#column {
	padding: 1em 0 0;
}

/************* FOOTER ************/

#footer {
	margin-top: 1em;
	clear: both;
	overflow: hidden;
}

#footer .block {
	float: left;
	margin: 0 0 30px 30px;
	padding: 0;
	width: 226px; /* 768 / 3 - 30 */
}

/************* BLOCKS ************/

.block {
	margin: 1em 0 0;
}

.block > h1,
.block > h2 {
	margin-bottom: 0;
}

.block > ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

.block > ul li,
.block > div,
.block > p {
	padding: 1em 0 0;
	margin: 0;
}

.black.block {
	background: #1e1e1e;
}

.black.block h1,
.black.block h2 {
	margin: 0;
	padding: 15px;
	background: #333;
	color: #4ba4c2;
	letter-spacing: 1px;
	font-weight: 100;
}

.black.block > ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

.black.block > ul li,
.black.block > div,
.black.block > p {
	padding: 15px;
	margin: 0;
	border-top: 1px solid #333;
	color: #ccc;
}

.black.block > ul li:hover,
.black.block > div:hover,
.black.block > p:hover {
	background: #333;
}
